/* jumbotron styling */
.jumbotron {
    background: url(../../assets/images/forest.jpg)
}
.overlay  {
    background: black;
    opacity: .7;
}
.jumbotron h1 {
    text-align: center;
    color: forestgreen;
}